*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;    
}

html,body{
    height: 100%;
    width: 100%;
}
@font-face {
    font-family: a;
    src: url(./assets/jost-variable.ttf);
}
@font-face {
    font-family: b;
    src: url(./assets/KFOlCnqEu92Fr1MmEU9fBBc4\ \(1\).ttf);
}
@font-face {
    font-family: c;
    src: url(./assets/KFOmCnqEu92Fr1Mu4mxK\ \(1\).ttf);
}

#main{
    position: relative;
    overflow: hidden;
}

#page1{
    height: 100vh;
    width: 100vw;
    position: relative;
}

#page1>video{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

#page1>nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 30px;
    position:absolute;
    height: 10vh;
    width: 100vw;

}

#page1>nav>image{
    width: 9%;
    margin-top: -1.7vw;
}

#right-nav>button{
    padding: 10px 20px;
    border-radius:50px;
    border: 1px solid rgba(197, 192, 192, 0.695);
    background-color: #063FD8;
    color: rgba(255, 255, 255, 0.858);
    font-size: 18px;
    margin-right: 20px;
    margin-top: 1.7vw;
    font-family: a;
    font-weight: lighter;
}

#contant-h{
    position: absolute;
    bottom: 20%;
    left: 10%;
}

#contant-h h1{
   font-family: a;
   font-size: 6.2vw;
   font-weight: normal;
   line-height: 1;
   color: antiquewhite;
}

#contant-p{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 5vh;
}

#contant-p p{
    line-height: 2;
    font-family: c;
    color: rgba(250, 245, 239, 0.852);
    font-size: 1.1vw;
}

#contant-p>button{
    padding: 25px 50px;
    border-radius: 50px;
    border: none;
    color: #063FD8;
    font-size: medium;
}


#page2{
    display: flex;
    align-items: start;
    justify-content: center;
    font-family: a;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    background-color: #0A3CCE;
    position: relative;
    color: antiquewhite;
    padding: 0vw 8vw;
}

#page2>h2{
    font-weight: 100;
    text-transform: uppercase;
    margin-bottom: 2vw;
}

#page2>h1{
    font-weight: 50;
    width: 90%;
    font-size: 3.5vw;
    color: #dada6969;
}

#page3{
    position: relative;
    height: 100vh;
    width: 100vw;
    background-color: red;
}

#page3>canvas{
    max-width: 100vw;
    max-height: 100vh;
    position: relative;
}

#page4{
    height: 100vh;
    width: 100vw;
    background-color: #063FD8;
    color: #FFFFFF;
    font-family: a;
    position: relative;
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
}

#page4>h3{
    font-size: 4vh;
    font-weight: lighter;
    color: #ffffffea;
    margin-left: 15vw;
    letter-spacing: 1;
    margin-bottom: 2vw;
    text-transform: uppercase;
}

#page4>h1{
    margin-left: 15vw;
    width: 70%;
    font-size: 3vw;
    font-weight: 100;
    color: rgba(250, 235, 215, 0.432);
}

#page5{
    position: relative;
    height: 100vh;
    width: 100vw;
    }
#page5>canvas{
    position: relative;
    max-width: 100vw;
    max-height: 100vh;
}

#page6{
    display: flex;
    align-items: start;
    justify-content: center;
    font-family: a;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    background-color: #0A3CCE;
    position: relative;
    color: antiquewhite;
    padding: 0vw 8vw;
}

#page6>h2{
    font-weight: 100;
    text-transform: uppercase;
    margin-bottom: 2vw;
}

#page6>h1{
    font-weight: 50;
    width: 90%;
    font-size: 3.5vw;
    color: #dada6969;
}

#page7{
    position: relative;
    height: 100vh;
    width: 100vw;
}

#page7>canvas{
    position: relative;
    max-height: 100vh;
    max-width: 100vw;
}

.page7-cir{   
    display: flex;
    align-items: center;
    justify-content: center;                          /* circle center lane k liye */
    position: absolute;
    z-index: 9;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 30vw;
    width: 30vw;
    border-radius: 50%;
    border: 1px solid white;
}

.page7-cir-inner{
   height: 70%;
   width: 70%;
   border-radius:50%;
   background-color: transparent;
   border: 1px solid white;
}

#page8{
    height: 100vh;
    width: 100vw;
    position: relative;
    background-color: #093DCD;
}

#page8>video{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.page8-bottom{
    position: absolute;
    bottom: 20%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    font-family: a;
}

.page8-bottom>h1{
    margin-bottom: 2vw;
    font-size: 5vw;
    color: whitesmoke;
    font-weight: 100;
}

.page8-bottom>button{
    height: 7vh;
    width: 12vw;
    color: #072f9e;
    border-radius: 30px;
    border: none;
    font-weight: 200;
    letter-spacing: 1;
}

#page9{
    position: relative;
    height: 100vh;
    width: 100vw;
    background-color: #063FD8;
    display: flex;
    font-family: a;
    color: white;
}

.left9{
    height: 100%;
    width: 40%;
    position: relative;
}

.left9>h1{
    font-size: 5vw;
    line-height: 1;
    position: absolute;
    top: 35%;
    right: 4%;
    transform: translateY(-50%);
    font-weight: 100;
    color: whitesmoke;
    letter-spacing: 1;
 }

.right9{
    height: 100%;
    width: 60%;
    position: relative;
}

.right9-center{
    height: 55%;
    width: 85%;
    border-radius: 10px;
    position: absolute;
    top: 50%;
    transform: translatey(-50%);
    background-image: url(https://thisismagma.com/wp-content/uploads/2023/04/magma.wp2.cubdev.com-home-1.jpeg);
    background-size: cover;
    left: 4%;
}

#page10{
    position: relative;
    height: 100vh;
    width: 100vw;
    background-color: #0A3CCE;
    font-family: a;
    color: #FFFFFF;
}
.right10{
    height: 100%;
    width: 100%;
    position: relative;
    left: 40%;
}

.right10-inner{
    height: 33.3%;
    width: 100%;
    display: flex;
    align-items:start ;
    flex-direction: column;
}

.right10-inner>h1{
   font-size: 2vw;
   
}
.right10-inner>p{
    margin-top: 2vw;
   font-size: 1vw;
   width: 80%;

}

#page11{
    position: relative;
    height: 110vh;
    width: 100vw;
    background-color: #fff;
    font-family: a;
}

#page11>h1{
    position: absolute;
    font-size: 4vw;
    color: #000;
    top: 5%;
    left: 10%;
}

.page11-inner{
    position: relative;
    margin-bottom: 2vw;
    height:25%;
    width: 100%;
    top: 18%;
    display: flex;
}

.left11{
    position: relative;
    height: 100%;
    width: 40%;
    left: 5%;
    border-radius: 10px;
    overflow: hidden;
}

.left11>img{
    height: 100%;
    width: 100%;
    object-fit: cover;

}

.right11{
    padding: 5vw;
    color: #000;
    left: 50%;
    position: absolute;
    height: 100%;
    width: 500%;
}

.right>h4{
    font-weight:100;
}
.right>h1{
    font-size:2vw;
    font-weight: 100;
}

#page12{
   position: relative;
   height: 100vh;
   width: 100vw;
   background-color: #072f9e;
}

.page12-inner{
    position: absolute;
    font-family: a;
    color: #FFFFFF;
    top: 40%;
    right: 10%;
}

.page12-inner>h1{
    font-size: 5vw;
    font-family: 100;
}

.page12-inner>h1{
    font-size: 3vw;
    font-family: 100;
}

#page13{
    position: relative;
    height: 40vh;
    width: 100vw;
    background-color: #000;
    color: #FFFFFF;
    font-family: a;
    padding: 3vw;
}

#page13>h1{
    line-height: 1.2;
    font-size: 3vw;
    margin-bottom: 2vw;
}

#page13>button{
    background-color: #114cee;
    color: white;
    padding: 1vw 2vw;
    font-family: a;
    font-weight: 400;
    border-radius: 30px;
    border: none;
}

#page14{
    height: 60vh;
    width: 100vw;
    background-color: #000;
    border-top: 1px solid rgba(255, 255, 255, 0.464) ;
}

.page14-inner{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    height: 33.3%;
    width: 100%;
    border-bottom: 1px solid rgba(255, 255, 255, 0.464);
    border-bottom: 1px solid rgba(255, 255, 255, 0.464);
    font-family: a;
    color: #FFFFFF;
    padding: 0vw 5vw;
    
}

.page14-inner>h1{
    font-weight: 100;
    font-size: 3vw;
    position: relative;
    z-index: 9999;
}

.effect14{
    height: 0%;
    width: 100%;
    position: absolute;
    background-color: #063FD8;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: all ease .5s;
}

.page14-inner:hover .effect14{
    height: 100%;
}